<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Avdelning</th>
    </thead>
    <tbody>
        <tr *ngFor="let department of departments">
            <td>{{department.departmentID}}</td>
            <td>{{department.departmentName}}</td>
        </tr>


    </tbody>
</table>

          
<div class="form-group">
    <label>Avdelning</label>
    <select>
      <option *ngFor="let department of departments">{{department.departmentName}}</option>
    </select>
  </div>
