@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");


.container{
  max-width: 100%;
  min-width: 50%;
  max-height: 100%;
  min-height: 50%;
  background-color: #000000;
  color: #f1f1f1;
}

.card-name {
  font-size: 1.5em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transform: translate(0vh, 2vh);
  text-align: center;
}

.job{
  color: yellowgreen;
  text-align: center;
  font-size: 1.25em;
  text-decoration: underline;
  transform: translate(0vh, 2vh);



}

.property{
  color: rgb(43, 153, 205);
  text-align: left;
  transform: translate(-5vh,13vh);


}

.property span{
  transform: translate(5vh);

}

h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
/* 
img {
  border-radius: 50%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
} */



.cards-container{
  transform: translate(30vh, 10vh);
}

.card-header{
  transform: translate(10vh, 8vh);
}

h3{
  transform: translate(20vh);
}

.fa .fa-trash{
  color: rgb(200, 18, 18);
}


table, th, td {
    border: 1px solid;
    color: #f1f1f1;
  }

  table{
    width: 75%;
    transform: translate(10vh);
  }

  thead{
    transform: translate(7px);
  }

  .all-emp{
    transform: translate(10vh);

  }

  .emp-name span{
    color: rgb(219, 190, 219);
}

.emp-name i{
    color: rgb(199, 234, 27);
}

.emp-name i ::after{
  color:  rgb(74, 86, 18);
}

/* .salary{
  height: 7vh;
  
} */

input .salary {
  transform: translate(4vh);
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    color: #f1f1f1;
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .cards-form {
    width: 20%;
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
    border-style: double;
    height: 140vh;

  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }

  .emp-card{
    width: 40vh;
    height: 60vh;
    transform: translate(75vh, -140vh);
    background-color: #222831;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
  border-color: deepskyblue;
  }

  .emp-card input{
    background-color: rgb(63, 26, 99);
    color: white;
    width: 30vh;
    border: 0px;
  }


  /* .emp-card form {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    border: 5px solid #272133;
    margin-top: 20px;
    box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
  } */
  
  .dropdown{
    transform: translate(0, 0vh);
  }


  .department{
    transform: translate(0, 0vh);
  }

  .gender{
    transform: translate(0, 0vh);
  }

  button{
    transform: translate(5vh, 5vh);
    color: white;
    background-color: #04AA6D;
    width: 20vh;
    font-weight: bold;
  }

.dept-cards{
  width: 20%;
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
    border-style: double;
    height: 45vh;
    transform: translate(30vh, 10vh);
}

.emp-card img{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 10px 50px rgba(235, 25, 110, 1);

}

.background-img img{
  width: 40vh;
  height: 60vh;
  transform: translate(30vh, -100vh, );
}

.department-container{
  transform: translate(0, -40vh);
}

.all-dept{
  transform: translate(10vh);
}

td img{
  width: 18vh;
  height: 25vh;
}

  /* .emp-card {
    
  } */