table, th, td {
    border: 1px solid;
    color: #f1f1f1;
  }

  thead{
    transform: translate(7px);
  }

  .all-emp{
    border-style: double;
  }

.emp-name i{
    color: rgb(199, 234, 27);
    transform: translate(10vh);
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    color: #f1f1f1;
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .cards-form {
    width: 20%;
    border-radius: 5px;
    background-color: #000000;
    padding: 20px;
    border-style: double;
    height: 140vh;

  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }

  .emp-card{
    width: 40vh;
    height: 80vh;
    background-color: rgb(63, 26, 99);
    color: white;
    transform: translate(75vh, -110vh);
  }
  
  .dropdown{
    transform: translate(0, 0vh);
  }

  .container{
    background-color: #000000;
    color: white;
  }

  .department{
    transform: translate(0, 0vh);
  }

  .gender{
    transform: translate(0, 0vh);
  }

  button{
    transform: translate(5vh, 5vh);
    color: white;
    background-color: #04AA6D;
    width: 20vh;
    font-weight: bold;
  }