<div class="container">

  <div class="employee-container">
    <h1>Välkommen till företagets hemsida för organisation!</h1>
    <h3>Här nedan kan du se alla som arbetar på vårt företag: </h3>
    <div class="all-emp">
        <table class="table table-dark"> 
          <thead class="table"> 
            <th>Namn</th>
            <th>Avdelning</th>
            <th>Personnummer</th>
            <!-- <th>Adress</th>
            <th>Telefonnummer</th> -->
            <th>Lön</th>
          </thead>
          <tbody>
            <tr  *ngFor="let employee of employees">
                <td class="emp-name" >
                  <i (click)="populateForm(employee)" class="fa-solid fa-circle-info"></i>
                    <span>
                      {{employee.lastName}}, {{employee.firstName}}
                    </span>
                </td>
                <td>{{employee.department?.departmentName}}</td>
                <td>{{employee.securityNumber}}</td>
                <!-- <td>{{employee.address}}</td>
                <td>{{employee.phoneNumber}}</td> -->
                <td>{{employee.salary}}.00 kr</td>
                <i (click)="deleteEmployee(employee.employeeID)" class="fa fa-trash"></i>    
          </tbody>
        </table> 
    </div>

    <div class="card-header">
      <h3>Ändra eller lägg till en anställd:</h3>
    </div>

    <div class="cards-container">
      <div class="cards-form">
        <form #form="ngForm" (ngSubmit)="saveEmployee()">

        <div class="form-group">
          <label for="">Förnamn</label>
          <input type="text" name="firstName" [(ngModel)] ="employee.firstName"> 
        </div>

        <div class="form-group">
          <label for="">Efternamn</label>
          <input type="text" name="lastName" [(ngModel)] ="employee.lastName"> 
        </div>
    
        <div class="form-group">
          <label for="">Personnummer</label>
          <input type="text" name="securityNumber" [(ngModel)] ="employee.securityNumber"> 
        </div>
    
       
    
          <div class="form-group">
            <label for="">Adress</label>
            <input type="text" name="address" [(ngModel)] ="employee.address"> 
          </div>
      
          <div class="form-group">
            <label for="">E-Post</label>
            <input type="text" name="eMail" [(ngModel)] ="employee.eMail"> 
          </div>
          <div class="form-group">
            <label for="">Telefonnummer</label>
            <input type="text" name="phoneNumber" [(ngModel)] ="employee.phoneNumber"> 
          </div>
          <div class="form-group">
            <label for="">Lön</label>
            <input type="number" name="salary" [(ngModel)] ="employee.salary" class="salary"> 
          </div>

          <div class="dropdown">
            
            <label for="">Avdelning</label>
            <select name="department" [(ngModel)] = "employee.departmentID" class="department">
              <option class="dropbtn" value="" >AVDELNING</option>
              <option class="dropdown-content" *ngFor="let department of departments" value="{{department.departmentID}}">
                {{department.departmentName}}
              </option>
            </select>

            <label for="">Kön</label>
            <select name="gender" [(ngModel)] = "employee.genderID" class="gender">
              <option class="dropbtn" value="" >KÖN</option>
              <option class="dropdown-content" *ngFor="let gender of genders" value="{{gender.genderID}}">
                {{gender.genderName}}
              </option>
            </select>
          
        </div>
    
          <button class="btn btn-success" type="submit">SPARA</button>


        </form>
    
      </div>

      <div class="emp-card">
        <form #form="ngForm" (ngSubmit)="saveEmployee()">
            <img src="{{employee.profileURL}}" alt="Profilbild saknas"/>

            <div class="card-name">
              <span >{{employee.firstName}}</span>
              <span > {{employee.lastName}}</span>
            </div>

            <div class="job">
              <p>{{employee.department?.departmentName}}</p>
            </div>
  
          <div class="property">
            <i class="fa-solid fa-phone"></i>
            <span>        {{employee.phoneNumber}}</span>
          </div>

         <div class="cards-column">
          <div class="property">
            
            <i class="fa-regular fa-envelope"></i>
          <span>        {{employee.eMail}}</span>
        </div>
         </div>
  
          
          

  
          <div class="gender-symbol">
              <div *ngSwitch="employee.gender?.genderName">
                <p *ngSwicthCase="'Kvinna'" class="text-success">
                  <i class="fa-solid fa-venus"></i>
                </p>
                <p *ngSwicthCase="'Man'" class="text-success">
                  <i class="fa-solid fa-mars"></i>
                </p>
                <p *ngSwicthCase="'Icke-binär'" class="text-success">
                  <i class="fa-solid fa-genderless"></i>
                </p>
              </div>
            </div>
        </form>
        
      </div>

    </div>
    


  </div>

  <div class="department-container">
    <h3>Alla avdelningar</h3>

    <div class="all-dept">
      <table class="table table-dark">
        <thead>
            <th>Avdelning</th>
            <th>ID</th>
            <th>Bild</th>
        </thead>
        <tbody>
            <tr *ngFor="let department of departments">
                <td>{{department.departmentName}}</td>
                <td>{{department.departmentID}}</td>
                <td>
                  <img src="{{department.imageURL}}" alt="AVDELNING">
                </td>

            </tr>
    
        </tbody>
    </table>
    </div>
    

    <div class="card-header">
      <h3>Ändra eller lägg till en avdelning:</h3>
    </div>

    <div class="dept-cards">
      <form #form="ngForm" (ngSubmit)="saveDepartment()">

      <div class="form-group">
        <label for="">Avdelningstitel</label>
        <input type="text" name="department" [(ngModel)] ="department.departmentName"> 
      </div>

      <div class="form-group">
        <label for="">URL för avdelningsbild</label>
        <input type="text" name="imageURL" [(ngModel)] ="department.imageURL"> 
      </div>

      </form>
    </div>
  </div>
</div>