
<div class="container">

  <h1>Välkommen till företagets hemsida för organisation!</h1>
  <h3>Här nedan kan du se alla som arbetar på vårt företag: </h3>
  <div class="employee-container">
      <table class="table table-striped"> 
        <thead> 
          <th>Avdelning</th>
          <th>Namn</th>
          <th>Personnummer</th>
          <th>Adress</th>
          <th>Telefonnummer</th>
          <th>Lön</th>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee.departmentID}}</td>
            <td>{{employee.lastName}}, {{employee.firstName}}</td>
            <td>{{employee.securityNumber}}</td>
            <td>{{employee.address}}</td>
            <td>{{employee.phoneNumber}}</td>
            <td>{{employee.salary}}</td>
          </tr>       
        </tbody>
      </table> 
  </div>
</div>
  






    <!-- <div class="card-grid">
      <div (click)="populateForm(card)" class="card-row" *ngFor ="let card of cards">
        <div class="card-row-details">
          <span class="holder-name">{{card.holderName}}</span>
          <span class="holder-number">{{card.cardNumber}}</span>
        </div>
        <div class="card-row-action">
          <a (click)="onDelete(card.id)" ><i class="fa-solid fa-trash-can"></i></a>
        </div>
      </div>
    </div> 
  
  </div>
  </div> --> 