
<div class="container">

  <div class="employee-container">
  <h1>Välkommen till företagets hemsida för organisation!</h1>
    <h3>Här nedan kan du se alla som arbetar på vårt företag: </h3>
    <div class="employee-container">
        <table class="table table-dark"> 
          <thead class="table"> 
            <th>Avdelning</th>
            <th>Namn</th>
            <th>Personnummer</th>
            <th>Adress</th>
            <th>Telefonnummer</th>
            <th>Lön</th>
          </thead>
          <tbody>
            <tr  *ngFor="let employee of employees">
              <td>{{employee.department?.departmentName}}</td>
                <td class="emp-name" >{{employee.lastName}}, {{employee.firstName}}
                  <i (click)="populateForm(employee)" class="fa fa-trash"></i>
                </td>
                <td>{{employee.securityNumber}}</td>
                <td>{{employee.address}}</td>
                <td>{{employee.phoneNumber}}</td>
                <td>{{employee.salary}}.00 kr</td>
                  <i (click)="deleteEmployee(employee.employeeID)" class="fa fa-trash"></i>
            </tr>  
           

          </tbody>
        </table> 
  
        <div class="cards-form">
          <form #form="ngForm" (ngSubmit)="saveEmployee()">

          <div class="form-group">
            <label for="">Namn</label>
            <input type="text" name="firstName" [(ngModel)] ="employee.firstName"> 
            <input type="text" name="lastName" [(ngModel)] ="employee.lastName"> 

          </div>
      
          <div class="form-group">
            <label for="">Personnummer</label>
            <input type="text" name="securityNumber" [(ngModel)] ="employee.securityNumber"> 
          </div>
      
          <div class="form-group form-group-inline">
      
            <div class="form-group">
              <label for="">Adress</label>
              <input type="text" name="address" [(ngModel)] ="employee.address"> 
            </div>
        
            <div class="form-group">
              <label for="">E-Post</label>
              <input type="text" name="eMail" [(ngModel)] ="employee.eMail"> 
            </div>
            <div class="form-group">
              <label for="">Telefonnummer</label>
              <input type="text" name="phoneNumber" [(ngModel)] ="employee.phoneNumber"> 
            </div>
            <div class="form-group">
              <label for="">Lön</label>
              <input type="number" name="salary" [(ngModel)] ="employee.salary"> 
            </div>

            <div class="form-group">
              <select name="department" [(ngModel)] = "employee.departmentID">
                <option value="" >AVDELNING</option>
                <option *ngFor="let department of departments" value="{{department.departmentID}}">
                  {{department.departmentName}}
                </option>
              </select>
            </div>

            <div class="form-group">
              <select name="gender" [(ngModel)] = "employee.genderID">
                <option value="" >KÖN</option>
                <option *ngFor="let gender of genders" value="{{gender.genderID}}">
                  {{gender.genderName}}
                </option>
              </select>
            </div>
          </div>
      
            <button class="button" type="submit">SPARA</button>
          </form>
      
        </div>
    </div> 
  </div>

  <div class="department-container">
    <h3>Alla avdelningar</h3>

    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Avdelning</th>
        </thead>
        <tbody>
            <tr *ngFor="let department of departments">
                <td>{{department.departmentID}}</td>
                <td>{{department.departmentName}}</td>
            </tr>
    
    
        </tbody>
    </table>
    
  </div>
    
</div>